{% extends "base.html" %}

{% block title %}Главная{% endblock title %}

{% block content %}

    <h1>Информация о нас</h1>
    <p>Кафедра готовит инженеров и научно-педагогических работников для эксплуатации, наладки, проектирования и научных исследований в области автоматизированного электропривода. Ее выпускники работают инженерами в пуско-наладочных и электромонтажных организациях, в службах эксплуатации и лабораториях промышленных предприятий, в проектных и научно-исследовательских институтах, преподают в техникумах и высших учебных заведениях.

    <p>Ежегодно принимается 75 студентов на дневное обучение по специальности "Электромеханические системы автоматизации и электропривод".

    <p>На базе кафедры ЭАПУ ДонНТУ и филиала кафедры в г. Мариуполе осуществляется обучение студентов по очно-заочной форме (на контрактной основе) по направлению "Электромеханика".

    <p>На кафедре работает Авторизованный учебный центр компании «Шнейдер Электрик Украина», которая является частью международной компании Schneider Electric - мирового лидера в области распределения электроэнергии и автоматизации промышленных процессов. Учебный центр укомплектован преобразователями частоты серии Altivar, программируемыми логическими контроллерами (ПЛК) Twido, Modicon Premium, интеллектуальными пускателями TeSysU и устройствами плавного пуска Altistart, интеллектуальными реле Zelio Logic, компактными панелями оператора Magelis, датчиками и т.д. В планах центра – обучение студентов электротехнического факультета работе с современными электроприводами и средствами автоматизации производства «Schneider Electric» и повышение квалификации работников промышленных предприятий, проектных организаций и партнеров «Шнейдер Электрик Украина».

    <p>Кафедра имеет связи с Магдебургским техническим университетом имени Отто фон Герике (Германия), техническим университетом города Кошице (Словакия), Московским энергетическим институтом, Харьковским, Львовским, Одесским, Севастопольским и Киевским техническими университетами.

    <p>Кафедра входит в состав Украинской ассоциации инженеров-электриков.

    <p>На базе кафедры ЭАПУ по направлению «Электромеханика» ведется подготовка специалистов - электромехаников с углубленным изучением французского языка. Кафедра выпустила двух магистров, студентов специальной высшей школы ESTP.

    <p>Установлены контакты и выполняются совместные научные исследования с Университетами Версальским и Сержи-Понтуаз (Франция). Подписан договор о сотрудничестве между ДонНТУ и университетом Сержи-Понтуаз, в рамках которого планируется обмен студентами, магистрантами, аспирантами.

    <p>В рамках выполнения совместных научных исследований между ДонНТУ и университетами Сержи-Понтуаз планируется проведение цикла лекций французскими учеными в ДонНТУ и нашими специалистами в университетах Версаля и Сержи-Понтуаз. Кафедра ведет активную работу по вхождению в международные программы «Eiffel» «Dnipro» и др.
    Более подробную информацию о сотрудничестве кафедры ЭАПУ с компаниями-партнерами можно получить  <a href="#">здесь</a>.

{% endblock content %}
