{% load static%}
<div class="contentblock">
<!-- Tabs -->
  <div class="tabwrapper">
      <div class="tabs_links">
          <ul>
              <li><a  href="#tab1">News</a></li>
              <li><a href="#tab2">Events</a></li>
              <li><a href="#tab3">Tweets</a></li>
              <li ><a class="nobg" href="#tab4">Blog</a></li>
          </ul>
      </div>
      <div class="tab_content" id="tab1" style="display:none" >
          <ul>
              <li>
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news1.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
              <li>
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news2.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
              <li class="nbbdr">
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news3.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
          </ul>
          <div class="clear"></div>
      </div>
      <div class="tab_content" id="tab2" style="display:none" >
          <ul>
              <li>
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news1.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
              <li>
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news2.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
              <li class="nbbdr">
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news3.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
          </ul>
          <div class="clear"></div>
      </div>
      <div class="tab_content" id="tab3" style="display:none" >
          <ul>
              <li>
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news1.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
              <li>
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news2.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
              <li class="nbbdr">
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news3.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
          </ul>
          <div class="clear"></div>
      </div>
      <div class="tab_content" id="tab4" style="display:none" >
          <ul>
              <li>
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news1.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
              <li>
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news2.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
              <li class="nbbdr">
                  <div class="thumb">
                      <a href="news.html"><img src="{{STATIC_URL}}images/news3.jpg"  alt=" " /></a>
                   </div>
                   <div class="descripton">
                      <h6><a href="news.html">Lorem ipsum dolor sit amet, conse</a></h6>
                      <em>(Posted on 17 Jan 11 , 2011)</em>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                          placerat dignissim, diam lacus placerat ligula,
                      </p>
                  </div>
              </li>
          </ul>
          <div class="clear"></div>
      </div>
  </div>
  <!-- Search Course -->
      <div class="search_course">
          <h4>Search Our New Courses</h4>
          <p><a href="#">Our courses</a> are applied,innovative and grounded in the real world.</p>
          <div class="box">
              <div class="search_option">
                  <ul class="option">
                      <li>
                          <input name="txt" value="Search you any keyword"
                          onfocus="if(this.value=='Search you any keyword') {this.value='';}"
                          onblur="if(this.value=='') {this.value='Search you any keyword';}"
                          type="text" />
                     </li>
                      <li><a class="search right" href="#">Search</a></li>
                   </ul>
                  <ul class="advance_option">
                      <li class="selected"><a href="#">Advance Option</a></li>
                      <li><a href="#">Help</a></li>
                      <li><a href="#">A to Z Courses </a></li>
                      <li class="nobg"><a href="#"> Support</a></li>
                  </ul>
              </div>
           <!-- Degree Type -->
           <div class="degree_type">
              <h5>Degree type</h5>
              <ul>
                  <li><input class="radiobutton" name="txt" type="radio" value="" /> <span>Undergraduate</span></li>
                  <li><input class="radiobutton" name="txt" type="radio" value="" /> <span>Post graduate</span></li>
                  <li><input class="radiobutton" name="txt" type="radio" value="" /> <span>School</span></li>
                  <li><input class="radiobutton" name="txt" type="radio" value="" /> <span>Others</span></li>
                  <li><input class="radiobutton" name="txt" type="radio" value="" /> <span>Vocational Course</span></li>
              </ul>
          </div>
          <!-- Residnece Type -->
              <div class="resident_type">
                  <h5>Resident Type</h5>
              <ul>
                   <li><input class="radiobutton" name="txt" type="radio" value="" /> <span>United Kingdom</span></li>
                  <li><input class="radiobutton" name="txt" type="radio" value="" /> <span>Wales</span></li>
                  <li><input class="radiobutton" name="txt" type="radio" value="" /> <span>Ireland</span></li>
                  <li>
                      <select class="select_country" name="txt">
                          <option>USA</option>
                          <option>United Kingdom</option>
                          <option>Canada</option>
                      </select>
                  </li>
              </ul>
               </div>
              <div class="clear"></div>
              <!-- apply now -->
              <div class="apply_now">
                  <a class="aply_now" href="#">Apply Now</a>
                  <a class="find_out_how" href="#">find out how</a>
              </div>
          </div>
      </div>
  <div class="clear"></div>
</div>
