<div id="bottom_Section">
<!-- page bottm -->
  <div id="pagebottom">
      <!-- copyright -->
    <div class="copyright">&copy; 2011 <a href="#">College Site</a> All Rights Reserved</div>
      <a href="#" class="top">Top</a>
      <!-- Social Networks -->
      <div class="socail_networks">
          <ul>
              <li class="servcies">Follows us our servcies</li>
              <li><a href="#"><img src="{{STATIC_URL}}images/facebook_icon.gif"  alt="" /> </a></li>
              <li><a href="#"><img src="{{STATIC_URL}}images/linkedin_icon.gif"  alt="" /> </a></li>
              <li><a href="#"><img src="{{STATIC_URL}}images/twitter_icon.gif"  alt="" /> </a></li>
              <li><a href="#"><img src="{{STATIC_URL}}images/rssfeed_icon.gif"  alt="" /> </a></li>
              <li><a href="#"><img src="{{STATIC_URL}}images/social_icon.gif"  alt="" /> </a></li>
          </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
