<div class="image_scroll">
  <a class="leftarrow" href="#"><img src="{{STATIC_URL}}images/left_arrow.gif"  alt="" /></a>
  <div class="slider1">
    <ul>
      <li><a href="#"><img src="{{STATIC_URL}}images/slider1.gif"  alt="" /></a></li>
      <li><a href="#"><img src="{{STATIC_URL}}images/slider2.gif"  alt="" /></a></li>
      <li><a href="#"><img src="{{STATIC_URL}}images/slider3.gif"  alt="" /></a></li>
      <li><a href="#"><img src="{{STATIC_URL}}images/slider4.gif"  alt="" /></a></li>
      <li><a href="#"><img src="{{STATIC_URL}}images/slider5.gif"  alt="" /></a></li>
      <li><a href="#"><img src="{{STATIC_URL}}images/slider6.gif"  alt="" /></a></li>
    </ul>
  </div>
    <a class="rightarrow" href="#"><img src="{{STATIC_URL}}images/right_arrow.gif"  alt="" /></a>
</div>
